---
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import Divider from "@/components/Divider.astro";
import TerminalPS from "@/components/TerminalPS.astro";
import { format_date } from "@/utils";

export async function getStaticPaths() {
  const posts = (await getCollection("blog")).filter(
    (post) => !post.data.draft,
  );
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { Content } = await render(post);
---

<Layout
  title={post.data.title}
  description={post.data.description}
  seo={{
    og: {
      type: "article",
      article: {
        author: post.data.author,
        published_time: post.data.publication_date.toISOString(),
        modified_time: post.data.revision_date?.toISOString(),
        tags: post.data.tags,
      },
    },
  }}
>
  <div class="mx-auto max-w-3xl">
    <TerminalPS class="w-full sm:text-xl" />
    <h1 class="mt-16 text-4xl leading-tight font-bold break-all sm:mt-32">
      {post.data.title}
    </h1>
    <ul class="mt-8 flex flex-wrap gap-2" aria-label="tags">
      {
        post.data.tags.map((tag) => (
          <li class="inline-flex items-center rounded-md bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-300">
            {tag}
          </li>
        ))
      }
    </ul>
    <div class="mt-10 flex flex-col gap-1 text-sm">
      <time datetime={post.data.publication_date.toString()}>
        {format_date(post.data.publication_date)}
      </time>
      {
        post.data.revision_date && (
          <span class="italic">
            Modified:
            <time datetime={post.data.revision_date.toString()}>
              {format_date(post.data.revision_date)}
            </time>
          </span>
        )
      }
    </div>
    <Divider class="mt-16" />
  </div>
  <article
    class="prose prose-code:font-mono prose-invert prose-slate prose-a:hover:text-gray-500/50 sm:prose-xl mx-auto mt-16 max-w-3xl sm:mt-24"
  >
    <Content />
  </article>
</Layout>

<script>
  const copyButtonLabel = "Copy";
  const codeBlocks = Array.from(document.querySelectorAll("pre"));

  for (const codeBlock of codeBlocks) {
    const wrapper = document.createElement("div");
    wrapper.style.position = "relative";

    const copyButton = document.createElement("button");
    copyButton.className = "copy-code";
    copyButton.textContent = copyButtonLabel;
    copyButton.setAttribute("aria-label", "Copy code to clipboard");

    codeBlock.setAttribute("tabindex", "0");
    codeBlock.parentNode?.insertBefore(wrapper, codeBlock);
    wrapper.appendChild(codeBlock);
    wrapper.appendChild(copyButton);

    copyButton.addEventListener("click", async () => {
      await copyCode(codeBlock, copyButton);
    });
  }

  async function copyCode(el: HTMLElement, button: HTMLElement) {
    const code = el.querySelector("code");
    const text = code?.innerText;
    if (!text) {
      return;
    }

    try {
      await navigator.clipboard.writeText(text);
      button.textContent = "Copied!";

      setTimeout(() => {
        button.textContent = copyButtonLabel;
      }, 1500);
    } catch (err) {
      console.error("Failed to copy: ", err);
    }
  }
</script>

<style is:inline>
  .copy-code {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    background-color: var(--color-accent);
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 0.25rem;
  }

  .copy-code:hover {
    background-color: var(--color-accent-faded);
  }

  .copy-code:focus-visible {
    outline: 2px solid var(--color-accent-bright);
    outline-offset: 2px;
  }
</style>
